@model IEnumerable<eBooks.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Categories</h1>

<div class="text-white">
    <a asp-controller="Category" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
            <td>
                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.CategoryID"><i class="bi bi-trash"></i>Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
    </div>
</div>
